*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#match{
    width: 100vw;
    height: 40vh;
}

#match iframe{
    width: 100%;
    height: 100%;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    position: relative;
}
hr{
    border: 3px solid black;
}

.match{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.match p{
    color: green;
    
    font-size: 25px;
    animation: live linear 5s infinite;
}

@keyframes live{
    0%{
        font-weight: 300;
    }
    25%{
        font-weight: 600;
    }
    50%{
        font-weight: 900;
    }
    75%{
        font-weight: 600;
    }
    100%{
        font-weight: 300;
    }
}

footer{
    background-color: black;
    width: 100%;
}